<!DOCTYPE html>
<html>
<head>
  <title>Resume - Shi Jin Ting</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="<%if current_page?(root_path) %>valign-wrapper<% end %>">
  <main class="<%if current_page?(root_path) %>valign row<% end %>">
    <%= yield %>
  </main>
  <footer>
    <%= render 'layouts/footer' %>
  </footer>
</body>
</html>
